<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>レビュー登録</h2>
<!--用post方法 在下面指定網址 將資料傳輸出去-->
    <form th:action="@{/regist-review}" method="POST">
<!--		下面對應到form內的id-->
		【店舗ID】<br>
		<input type="text" name="restaurantId"><br>
		<br>
    	【利用者ID】<br>
    	<input type="text" name="userId"><br>
		<br>
    	【来店日】<br>
    	<input type="date" name="visitDate"><br>
		<br>
    	【評価】(1-5)<br>
		<input type="text" name="rating"><br>
		<br>
<!--		class是css中指定的設定-->
    	【一言コメント】<br>
    	<input type="text"  name="comment" class="comment"><br>
		<br>
    	<input type="submit" value="登録" class="btn">
    </form>

</body>
</html>
